*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1{
  padding: 20px;
}
.App {
  text-align: center;
}
.accordian-header {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 15px;
  border: 6px solid rgb(177, 171, 171);
  background-color: rgb(151, 151, 45);
  width: 45%;
}

.accordian{
  justify-content: space-between;
  display: flex;
}
.accordian-body{
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border: 2px solid rgb(133, 133, 133);
  background-color: rgb(255, 255, 143);
  width: 45%;
}